<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429670093553-56nrvo3fggj9f05ebqnrka9ltj0lkfef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429670093553-56nrvo3fggj9f05ebqnrka9ltj0lkfef</string>
	<key>API_KEY</key>
	<string>AIzaSyAH0CetUUtUWgiy9SXFiVBh_hddQfA9OcE</string>
	<key>GCM_SENDER_ID</key>
	<string>429670093553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackathon.app</string>
	<key>PROJECT_ID</key>
	<string>lexisnexishackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>lexisnexishackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:429670093553:ios:07a447af919e12a7</string>
	<key>DATABASE_URL</key>
	<string>https://lexisnexishackathon.firebaseio.com</string>
</dict>
</plist>
